.detail-product {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn-cta {
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  padding: 6px 12px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.btn-cta:hover {
  background-color: green;
}